body {
  background-color: black;
  color: whitesmoke; 
  padding-left: 30px;
  padding-top: 20px;
  background-image: url('marvel-villain-superhero.jpg');
  background-repeat: repeat-y;
  margin-left:10px;
  margin-right: 10px;
}

input {
  width: 60px;
  margin-left: 10px;
}

h1 {
  font-size: xx-large;
  color: whitesmoke;
}

h3 {
  font-size: larger;
  color:whitesmoke;
}

p {
  font-size: medium;
  color:whitesmoke;
}

img {
  max-width: 200px;
}

#center {
  text-align: center;
}

#kehys {
  border: gold;
  border-style: double;
}

#gold {
  color: gold;
}

